<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="space.potatofrom.cubic20">
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.potatofrom.cubic20.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.potatofrom.cubic20.MainActivity" />
        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="space.potatofrom.cubic20.MainActivity" />
        </activity>
        <activity
            android:name=".ReminderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_reminder"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme" />



        <receiver
            android:name=".NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="space.potatofrom.cubic20.START_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.STOP_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.HIT_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".OrderedBroadcastForwarder"
            android:exported="false">
            <intent-filter>
                <action android:name="space.potatofrom.cubic20.OrderedBroadcastForwarder.FORWARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReminderActivity$HitReminderReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="space.potatofrom.cubic20.HIT_REMINDER" />
            </intent-filter>
        </receiver>
        <!--
            Disabled by default; enabled programmatically when start-on-boot
            shared preference is enabled.
        -->
        <receiver
            android:name=".ReminderBootReceiver"
            android:exported="false"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReminderManager$ReminderBroadcastReceiver"
            android:exported="false">

            <!--
                 Priority 2 to go before MainActivity's UI update, which relies on
                 the state of the reminders having been updated beforehand
            -->
            <intent-filter android:priority="2">
                <action android:name="space.potatofrom.cubic20.START_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.STOP_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.POSTPONE_NEXT_REMINDER" />
                <action android:name="space.potatofrom.cubic20.HIT_REMINDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StatsBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="space.potatofrom.cubic20.START_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.STOP_REMINDERS" />
                <action android:name="space.potatofrom.cubic20.POSTPONE_NEXT_REMINDER" />
                <action android:name="space.potatofrom.cubic20.HIT_REMINDER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>